html {
    height: 100%;
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    overscroll-behavior: none;
}

body {
    background-color: #3B3D3A;
    margin: 0px;
    height: 100%;
    overscroll-behavior: none;
}

p {
    margin: 0px;
    user-select: none;
}

.banner {
    display: flex;
    background-color: #24282B;
    height: 7.6%;
}

.banner-left {
    display: flex;
    align-items: center;
    width: 30%;
}

.banner-button {
    position: absolute;
    background-color: transparent;
    width: 4svw;
    height: 7.6svh;
    border: none;
    font-size: 4svh;
    color: white;
    display: none;
}

.back-button {
    width: 15%;
    font-size: 2.5svh;
    text-align: left;
    padding-left: 0.3svw;
}

.prev-button {
    right: 6svw;
}

.next-button {
    right: 1svw;
}

.banner-left>img {
    height: 6svh;
    padding-left: 1.3svw;
    padding-right: 0.8svw;
}

.heading {
    margin-right: 0.8svw;
}

.heading-upper {
    margin: 0px;
    color: white;
    font-size: 2.5svh;
}

.heading-lower {
    margin: 0px;
    color: #B9BABC;
    font-size: 1.5svh;
}

.player {
    display: flex;
    align-items: center;
    text-align: center;
    width: 40%;
}

.play-button {
    background-color: transparent;
    border-color: transparent;
}

.play-button-image {
    height: 3svh;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.player-bar {
    height: 0.5svh;
    width: 80%;
    outline-width: 0px;
    background-color: #002D2A;
    accent-color: #10E5EB;
}

.player-time {
    color: white;
    display: inline;
}

.channels {
    display: flex;
    flex-flow: row;
    height: 92.4%;
    width: 86%;
    float: left;
}

.channel {
    background-color: #292C31;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 12.3%;
    margin-right: 0.2%;
    text-align: center;
    font-size: 2.2svh;
}

.channel-green {
    background-color: #002D2A;
    height: 5.5svh;
    margin-top: 0.4svh;
    border: 0.4svh solid #176363;
    color: #176363;
    font-size: 2.5svh;
}

.channel-green[data-active="true"] {
    color: #B9BABC;
    border-color: #176363;
}

.channel-blank {
    border-style: none;
}

.channel-pan {
    height: 5.5svh;
    margin: 0.4svh;
    border-style: none;
}

.channel-pan-center {
    background-color: #10E5EB;
    width: 0.4svh;
    height: 100%;
    position: relative;
    left: 50%;
}

.channel-pan-bar {
    background-color: #10E5EB;
    height: 70%;
    position: relative;
    width: 0%;
    left: 50%;
    top: -85%;
}

.channel-label {
    background-color: white;
    height: 6.1svh;
    margin: 0.4svh;
    font-size: 2.5svh;
    border-style: none;
}

.channel-solo {
    background-color: #313439;
    height: 5.1svh;
    line-height: 5.1svh;
    border: 0.2svh solid #191B1A;
    color: #B9BABC;
    position: relative;
}

.channel-solo[data-active="true"] {
    border-color: #FDCF00;
}

.channel-solo-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3.8svh 0 0 3.8svh;
    border-color: transparent transparent transparent #755009;
    position: absolute;
    bottom: 0%;
}

.channel-solo[data-active="true"]>div {
    border-color: transparent transparent transparent #FDCF00;
}

.channel-fader {
    background-color: #292C31;
    flex-grow: 1;
    color: white;
    position: relative;
    font-size: 2.5svh;
}

.channel-fader-level {
    margin-top: 1svh;
}

.channel-fader-ticks {
    background: repeating-linear-gradient(to bottom, #B9BABC, #B9BABC 1px, transparent 2px, transparent 3.35svh);
    width: 50%;
    height: 26.8svh;
    margin: -13.4svh -25%;
    position: absolute;
    left: 50%;
    top: 50%;
}

.major-tick {
    background: linear-gradient(to bottom, transparent calc(6.7svh - 2px), white calc(6.7svh - 2px), white calc(6.7svh + 3px), transparent calc(6.7svh + 3px));
}

.channel-fader-tick-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 25.5svh;
    margin: -14.5svh 30%;
    right: 50%;
    top: 50%;
    font-size: 1.5svh;
    text-align: left;
}

.channel-fader-groove {
    background-color: black;
    width: 1svh;
    height: 26.8svh;
    margin: -13.4svh -0.5svh;
    position: absolute;
    left: 50%;
    top: 50%;
}

.fader {
    appearance: none;
    width: 37.8svh;
    height: 1svh;
    margin: -0.5svh -18.9svh;
    background: transparent;
    transform: rotate(270deg);
    position: absolute;
    left: 50%;
    top: 50%;
}

.fader::-webkit-slider-thumb { /* all but firefox */
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 6svh;
    width: 11svh;
    background: #B9BABC;
    cursor: pointer;
    margin: 0px;
}
 .fader::-moz-range-thumb { /* firefox */
    width: 11svh;
    height: 600%;
    background: #B9BABC;
    cursor: pointer;  
} 

.peak-meter {
    position: absolute;
    width: 8%;
    height: 98%;
    background-color: rgb(117, 214, 117);
    top: 1%;
    left: 84%;
}

.peak-meter-bar {
    width: 100%;
    height: 100%;
    background-color: #515151;
}

.channel-label-const {
    position: absolute;
    bottom: 0%;
    width: 100%;
    align-items: center;
}

.channel-mute {
    background-color: #313439;
    height: 5.1svh;
    line-height: 5.1svh;
    border: 0.2svh solid #191B1A;
    color: #B9BABC;
    position: relative;
}

.channel-mute[data-active="true"] {
    border-color: #F81F10;
}

.channel-mute-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 3.8svh 3.8svh 0;
    border-color: transparent #5A0000 transparent transparent;
    position: absolute;
    right: 0%;
    top: 0%;
}

.channel-mute[data-active="true"]>div {
    border-color: transparent #F81F10 transparent transparent;
}

.buttons {
    display: flex;
    height: 92.4%;
    width: 14%;
    float: right;
}

.buttons>div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

button {
    background-color: #313439;
    margin: 0.3svh;
    height: 8svh;
    font-size: 2svh;
    border: 0.2svh solid #191B1A;
    color: #B9BABC;
    text-align: center;
}

button[data-active="true"] {
    color: #39B7B6;
    border-color: #39B7B6;
}

.pan-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    display: none;
}

.pan-overlay-button{
    width: 100%;
    height: 40%;
    background-color: transparent;
    border-color: transparent;
}

.pan-overlay-panel {
    width: 99%;
    height: 20%;
    margin-left: 0.5%;
    background-color: #282828;
}

.pan-readout {
    color: #40B1DB;
    font-size: 3.5svh;
    padding: 1svh;
    padding-left: 2svh;
}

.pan-overlay-panel>hr {
    border-color: #40B1DB;
    border-style: solid;
}

.pan-slider {
    appearance: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 5svh;
    height: 1svh;
    background: black;
}

.pan-slider::-webkit-slider-thumb { /* all but firefox */
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 6svh;
    width: 11svh;
    background: #B9BABC;
    cursor: pointer;
    margin: 0px;
}
 .pan-slider::-moz-range-thumb { /* firefox */
    width: 11svh;
    height: 600%;
    background: #B9BABC;
    cursor: pointer;  
} 

.pan-overlay-center {
    width: 0.1%;
    height: 8svh;
    margin-bottom: -9.4svh;
    margin-top: 2.2svh;
    background-color: #B9BABC;
    margin-left: 49.95%;
}

.alt-view {
    position: absolute;
    width: 100%;
    height: 92.4%;
    background-color: #083D41;
    display: none;
}

.plain-button {
    width: 6svw;
}

.overview-channel {
    width: 7%;
    margin-left: 0.2%;
    font-size: 2.2svh;
}

.overview-fader {
    width: 60svh;
    margin: -0.5svh -30svh;
}

.overview-fader-groove {
    height: 49svh;
    margin: -24.6svh -0.5svh;
}

.overview-channel-ticks {
    background: repeating-linear-gradient(to bottom, #B9BABC, #B9BABC 1px, transparent 2px, transparent 6.125svh);
    height: 49svh;
    margin: -24.6svh -25%;
}

.overview-major-tick {
    background: linear-gradient(to bottom, transparent calc(12.25svh - 2px), white calc(12.25svh - 2px), white calc(12.25svh + 3px), transparent calc(12.25svh + 3px));
}

.overview-fader-tick-labels {
    height: 45.2svh;
    margin: -25.8svh 30%;
}

.overview-panel {
    margin-right: 0.2%;
    width: 7%;
    height: 100%;
    background-color: #002D2A;
    text-align: center;
}

.overview-gate {
    width: 15%;
}

.overview-gate-graphic {
    width: 13svw;
    height: 13svw;
    margin-left: 1svw;
    background-color: #000000;
    align-self: center;
}

.overview-eq {
    flex-grow: 1;
}

.overview-eq-graphic {
    width: 100%;
    height: 40%;
    background-color: #000000;
    align-self: center;
}

.overview-dyn {
    width: 15%;
}

.overview-dyn-graphic {
    width: 13svw;
    height: 13svw;
    margin-left: 1svw;
    background-color: #000000;
    align-self: center;
}

.overview-sends {
    width: 15%;
}

.eq-view-buttons {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.eq-view-graph-area {
    background-color: #002D2A;
    flex-grow: 1;
    margin: 0.2svh 0.3svw;
    margin-bottom: 8.5svh;
    position: relative;
}

.eq-view-graph {
    width: 100%;
    height: 100%;
}

.eq-control-handle {
    height: 8svh;
    width: 8svh;
    border-radius: 4svh;
    margin: -4svh;
    opacity: 0.5;
    position: absolute;
}

.eq-handle-outline {
    height: 10svh;
    width: 10svh;
    border-radius: 5.2svh;
    margin: -1.4svh;
    border-width: 0.4svh;
    border-color: white;
    border-style: solid;
}

.eq-control-handle[data-active="false"]>div {
    border-color: transparent;
}