html {
    height: 100%;
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

body {
    background-color: #3B3D3A;
    margin: 0px;
    height: 100%;
}

p {
    margin: 0px;
    user-select: none;
}

.banner {
    display: flex;
    align-items: center;
    background-color: #24282B;
    height: 7.6%;
}

.banner>img {
    height: 6svh;
    padding-left: 0.8svw;
    padding-right: 0.8svw;
}

.banner>div>h1 {
    margin: 0px;
    color: white;
    font-size: 2.5svh;
}

.banner>div>h2 {
    margin: 0px;
    color: #B9BABC;
    font-size: 1.5svh;
}

.channels {
    display: flex;
    flex-flow: row;
    height: 92.4%;
    width: 86%;
    float: left;
}

.channel {
    background-color: #292C31;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 12.3%;
    margin-right: 0.2%;
    text-align: center;
}

.channel-green {
    background-color: #002D2A;
    height: 4.5svh;
    line-height: 4.5svh;
    margin-top: 0.4svh;
    border: 0.4svh solid #176363;
    color: #176363;
}

.channel-blank {
    border-style: none;
}

.channel-pan {
    margin: 0.4svh;
    border-style: none;
}

.channel-pan-bar {
    background-color: #10E5EB;
    width: 0.4svh;
    height: 100%;
    position: relative;
    left: 50%;
}

.channel-label {
    background-color: white;
    height: 6.1svh;
    line-height: 6.1svh;
    margin: 0.4svh;
}

.channel-solo {
    background-color: #313439;
    height: 5.1svh;
    line-height: 5.1svh;
    border: 0.2svh solid #191B1A;
    color: #B9BABC;
    position: relative;
}

.channel-solo-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3.8svh 0 0 3.8svh;
    border-color: transparent transparent transparent #755009;
    position: absolute;
    bottom: 0%;
}

.channel-fader {
    background-color: #292C31;
    flex-grow: 1;
    color: white;
    position: relative;
    font-size: 2.5svh;
}

.channel-fader-level {
    margin-top: 1svh;
}

.fader {
    appearance: none;
    width: 26.8svh;
    height: 1svh;
    margin: -0.5svh -13.4svh;
    background: black;
    transform: rotate(270deg);

    position: absolute;
    left: 50%;
    top: 50%;
}

.channel-label-const {
    position: absolute;
    bottom: 0%;
    width: 100%;
    align-items: center;
}

.channel-mute {
    background-color: #313439;
    height: 5.1svh;
    line-height: 5.1svh;
    border: 0.2svh solid #191B1A;
    color: #B9BABC;
    position: relative;
}

.channel-mute-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 3.8svh 3.8svh 0;
    border-color: transparent #5A0000 transparent transparent;
    position: absolute;
    right: 0%;
    top: 0%;
}

.buttons {
    display: flex;
    height: 92.4%;
    width: 14%;
    float: right;
}

.buttons-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.buttons-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.buttons>div>div {
    background-color: #313439;
    margin: 0.3svh;
    height: 7.8svh;
    line-height: 7.8svh;
    border: 0.2svh solid #191B1A;
    color: #B9BABC;
    text-align: center;
}