html {
    height: 100%;
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

body {
    background-color: #3B3D3A;
    margin: 0px;
    height: 100%;
}

p {
    margin: 0px;
    user-select: none;
}

.banner {
    display: flex;
    align-items: center;
    background-color: #24282B;
    height: 7.6%;
}

.banner>img {
    height: 6svh;
    padding-left: 0.8svw;
    padding-right: 0.8svw;
}

.banner>.heading>h1 {
    margin: 0px;
    color: white;
    font-size: 2.5svh;
}

.banner>.heading>h2 {
    margin: 0px;
    color: #B9BABC;
    font-size: 1.5svh;
}

.channels {
    display: flex;
    flex-flow: row;
    height: 92.4%;
    width: 86%;
    float: left;
}

.channel {
    background-color: #292C31;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 12.3%;
    margin-right: 0.2%;
    text-align: center;
    font-size: 2.2svh;
}

.channel-green {
    background-color: #002D2A;
    height: 4.5svh;
    line-height: 4.5svh;
    margin-top: 0.4svh;
    border: 0.4svh solid #176363;
    color: #176363;
}

.channel-blank {
    border-style: none;
}

.channel-pan {
    margin: 0.4svh;
    border-style: none;
}

.channel-pan-bar {
    background-color: #10E5EB;
    width: 0.4svh;
    height: 100%;
    position: relative;
    left: 50%;
}

.channel-label {
    background-color: white;
    height: 6.1svh;
    line-height: 6.1svh;
    margin: 0.4svh;
}

.channel-solo {
    background-color: #313439;
    height: 5.1svh;
    line-height: 5.1svh;
    border: 0.2svh solid #191B1A;
    color: #B9BABC;
    position: relative;
}

.channel-solo-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3.8svh 0 0 3.8svh;
    border-color: transparent transparent transparent #755009;
    position: absolute;
    bottom: 0%;
}

.channel-fader {
    background-color: #292C31;
    flex-grow: 1;
    color: white;
    position: relative;
    font-size: 2.5svh;
}

.channel-fader-level {
    margin-top: 1svh;
}

.channel-fader-ticks {
    background: repeating-linear-gradient(to bottom, #B9BABC, #B9BABC 1px, transparent 2px, transparent 3.35svh);
    width: 50%;
    height: 26.8svh;
    margin: -13.4svh -25%;
    position: absolute;
    left: 50%;
    top: 50%;
}

.major-tick {
    background: linear-gradient(to bottom, transparent calc(6.7svh - 2px), white calc(6.7svh - 2px), white calc(6.7svh + 3px), transparent calc(6.7svh + 3px));
}

.channel-fader-tick-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 25.5svh;
    margin: -14.5svh 30%;
    right: 50%;
    top: 50%;
    font-size: 1.5svh;
    text-align: left;
}

.channel-fader-groove {
    background-color: black;
    width: 1svh;
    height: 26.8svh;
    margin: -13.4svh -0.5svh;
    position: absolute;
    left: 50%;
    top: 50%;
}

.fader {
    appearance: none;
    width: 37.8svh;
    height: 1svh;
    margin: -0.5svh -18.9svh;
    background: transparent;
    transform: rotate(270deg);
    position: absolute;
    left: 50%;
    top: 50%;
}

.fader::-webkit-slider-thumb { /* all but firefox */
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 6svh;
    width: 11svh;
    background: #B9BABC;
    cursor: pointer;
    margin: 0px;
}
 .fader::-moz-range-thumb { /* firefox */
    width: 11svh;
    height: 600%;
    background: #B9BABC;
    cursor: pointer;  
} 

.channel-label-const {
    position: absolute;
    bottom: 0%;
    width: 100%;
    align-items: center;
}

.channel-mute {
    background-color: #313439;
    height: 5.1svh;
    line-height: 5.1svh;
    border: 0.2svh solid #191B1A;
    color: #B9BABC;
    position: relative;
}

.channel-mute-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 3.8svh 3.8svh 0;
    border-color: transparent #5A0000 transparent transparent;
    position: absolute;
    right: 0%;
    top: 0%;
}

.buttons {
    display: flex;
    height: 92.4%;
    width: 14%;
    float: right;
}

.buttons-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.buttons-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.buttons>div>div {
    background-color: #313439;
    margin: 0.3svh;
    height: 7.8svh;
    line-height: 7.8svh;
    font-size: 2svh;
    border: 0.2svh solid #191B1A;
    color: #B9BABC;
    text-align: center;
}